@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    padding: 10px 50px 10px 50px;
    background-color: rgba(0,0,255);
    background-image: url('../images/BARILOCHE.jpg');
    background-attachment: fixed;
    background-repeat: round;
}

.responsive{
    display:block;
}

header {
    background-color: rgba(94,125,202,0.5);
    padding: 30px;
    border-radius: 30px 30px 0px 0px;
}

nav {
    background-color: rgb(51, 51, 255);
    padding: 20px;
}

main {
    background-color: rgb(72, 105, 255);
    color: aliceblue;
}

aside {
    background-color: rgb(64,81,255);
    padding: 0.5em 0.5em 0 0.5em;
}

aside > section {
    height: 100%;
}

footer {
    background-color: rgba(169,169,169,0.5);
    padding: 30px;
    border-radius: 0px 0px 30px 30px;
}

article{
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

p{
    margin: 1em 1em 1em 0em;
}

h1{
    font-size: 2.5em;
}

h2{
    margin: 0.5em 1em 0.5em 0em;
}

h3{
    margin: 0.7em 1em 0.5em 0em;
}

ul {
    margin: 0px!important;
    padding-left: 0px!important;
}

ul > li {
    display: inline;
    margin: 0px;
}

section img{
    height: auto;
    width: 60%;
    display:block;
    margin: 1.5em auto 2em auto;
}

.menu {
    display: grid;
    grid-template-columns: 100%;
}

.cabecera {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contenedor2 {
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: rgb(41,45,172);
    padding: 1em;
}

.logo {
    height: auto;
    width: 100%;
    opacity: 1;
}

.botones{
    width: 180px;
    margin: 0px;
}

.titulo {
    font-family: 'Permanent Marker', cursive;
    font-size: 55px;
}

.der {
    text-align: right;
}

.centro {
    text-align: center;
}

.chiqui {
    font-size: 12px;
    color:black;
    z-index: 1;
    background-color: transparent;
}

.hijo1{
    display:flex;
    
    align-items: center;
}

.titulogrande{
    padding: 0.5em 3em;
    color: white;
    font-size: 3em;
    text-align:center;
}

.texto-parrafo{
    grid-area: texto-parrafo;
    font-family: "Spectral";
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    color: #f0f0f0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 880px;
    margin-bottom: 36px;
    margin-top: 16px;
}

.imagen-principal{
    height: auto;
    width: 90%;
    display:block;
    margin:auto;
}

.container-slider{
    margin: 1.5em auto 0 auto;
    width: 95%;
    height: 28em;
    /* max-width: 900px; */
    overflow:hidden;
    box-shadow: 0 0 0 4px rgb(248, 247, 247, 80%);
    position:relative;
}

.h1-quevisitar{
    font-size: 2.5em;
    margin: 0.5em 0 1em 0.5em;
}

.slider{
    display: flex;
    height: 400px;
    width: 400%;
    margin-left: -100%;
}

.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.slider__btn{
    color: black;
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.8);
    top: 50%;
    transform: translateY(-40%);
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover{
    background: rgb(252, 189, 0);
    color: white;
}

.slider__btn--izq{
    left: 10px;
}

.slider__btn--der{
    right: 10px;
}

.cerro-catedral-btn, .alta-patagonia-btn, .parque-nacional-btn, .confiteria-btn{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 2px;
    background-color: rebeccapurple;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.parrafo-slider{
    margin: 0.3em 0.5em 0 0.5em;
}


@media screen and (min-width: 450px) and (max-width: 768px)
{
    body{
        padding: 0px;
    }

    section img{
        margin: 0 0 1em 0;
    }

    article img{
        width: 98%;
    }

    .cabecera{
        grid-template-columns: 20% 80%;
        column-gap: 1em;

    }

    .titulo{
        font-size: 2.5em;
    }

    .logo{
        height:auto;
        width:100%;
    }

    #cont_b686a253e101e707257b83d6110dc66e{
        display: none;
    }

    aside{
        display: none;
    }

    h1{
        font-size: 2em;
    }

    header{
        grid-area: header;
    }

    nav{
        grid-area: nav;
    }

    .contenedor2{
        display:block;
        grid-area:main;
    }
    footer{
        grid-area: footer;
    }

    .responsive{
    display:grid;
    grid-template-areas: 'header header header'
                        'nav nav nav'
                        'main main main'
                        'footer footer footer';
    width: 95%;
    margin: 0em auto;
    }

    .parrafo-slider{
        font-size: 1em;
        overflow-y:scroll;
    }

    .titulogrande{
        font-size: 2em;
        text-align: center;
        padding: 0.6em 0em;
    }
    
    .h1-quevisitar{
        font-size: 2em;
        padding-top:0.5em;
    }

    .iframeGoogle{
        height: 20em;
        width:95%;
    }
}

@media screen and (max-width: 450px)
{
    body{
        padding: 0px;
    }

    section img{
        margin: 0em 0 1em 0;
    }

    article>img{
        display:block;
        width: 95%;
    }

    .cabecera{
        display:block;
    }

    .titulo{
        font-size: 2em;
    }

    .logo{
        height:auto;
        width:50%;
    }

    #cont_b686a253e101e707257b83d6110dc66e{
        display: none;
    }

    aside{
        display: none;
    }

    h1{
        font-size: 2em;
    }

    header{
        grid-area: header;
    }

    main{
        padding-top:0.1em;
    }

    nav{
        grid-area: nav;
    }

    .contenedor2{
        display:block;
        grid-area:main;
    }

    footer{
        grid-area: footer;
    }

    .responsive{
    display:grid;
    grid-template-areas: 'header header header'
                        'nav nav nav'
                        'main main main'
                        'footer footer footer';
    width: 100%;
    margin: 0em 0em;
    }

    .container-slider{
        margin: none;
        width: 16em;
    }

    .parrafo-slider{
        font-size: 0.8em;
        overflow-y:scroll;
    }

    .titulogrande{
        font-size: 2em;
        text-align: center;
        padding: 0.6em 0em;
    }
    
    .h1-quevisitar{
        font-size: 2em;
        margin: 0em 0 0 0.5em;
    }

    .iframeGoogle{
        height: 20em;
        width:95%;
    }

    .texto-parrafo{
        margin:0 0.5em 1em 0.5em;
    }
}