@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body {
    padding: 10px 50px 10px 50px;
    background-color: lightgray;
    background-image: url('../../images/BARILOCHE.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header {
    background-color: darkgrey;
    padding: 30px;
    border-radius: 30px 30px 0px 0px;
    opacity: 0.5;
}
nav {
    background-color:skyblue;
    padding: 20px;
}
main {
    background-color:rgb(72, 105, 255);
    color: aliceblue;
}
aside {
    background-color:transparent;
}
aside > section {
    height: 100%;
}
footer {
    background-color:darkgrey;
    padding: 30px;
    opacity: 0.5;
    border-radius: 0px 0px 30px 30px;
}
footer div {
    opacity: 1;
}
p {
    margin: 20px;
}
.menu {
    display: grid;
    grid-template-columns: 100%;
}
.cabecera {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.contenedor2 {
    display: grid;
    grid-template-columns: 80% 20%;
}
.logo {
    height: 180px;
    opacity: 1;
}
ul > li {
    display: inline;
}
/* ul > li {
    display: inline;
    margin: 15px;
    color: lightyellow;
    background-color: darkblue;
    padding: 10px;
    border-radius: 5px;
}
ul > li > a {
    color: lightyellow;
    text-decoration:none;
}
ul > li > a:visited {
    color: lightyellow;
}
ul > li > a:hover {
    color: darkorange;
    cursor: pointer;
} */


.titulo {
    font-family: 'Permanent Marker', cursive;
    font-size: 55px;
}
.botones {
    width: 180px;
}

.der {
    text-align: right;
}
.centro {
    text-align: center;
}
.chiqui {
    font-size: 12px;
    color:black;
    z-index: 1;
    background-color: transparent;
}

.hijo1{
    display:flex;
    
    align-items: center;
}

.centrar-item{
    display:flex;
    justify-content: center;
}

.presentacion{
    display:grid;
    grid-template-areas: 'titulogrande titulogrande titulogrande titulogrande titulogrande titulogrande titulogrande titulogrande titulogrande'
                        '. . . . texto-parrafo . . . .'
                        '. . . . bariloche-img . . . .'
                        '. . . . articulos . . . .';
}

.titulogrande{
    background-image: url(http://c.files.bbci.co.uk/141C8/production/_116367328_coposdenieve1.jpg);
    padding: 3rem;
    grid-area: titulogrande;
    -webkit-text-stroke: 0.02em rgb(0, 0, 0, 80%);
    color: white;
    font-size: 2.5em;
}

.texto-parrafo{
    grid-area: texto-parrafo;
    font-family: "Spectral";
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    color: #f0f0f0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 880px;
    margin-bottom: 36px;
    margin-top: 16px;
}

.bariloche-img{
    grid-area: bariloche-img;
}

.imagen-principal{
    grid-area: articulos;
    height: auto;
    max-height: 30em;
    min-width: 18em;
    width: 100%;
    display:block;
    margin:auto;
}

h2{
    margin-left: 0.8em;
    margin-top: 1em;
    margin-bottom: 1em;

}

h3{
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

article > img{
    height: auto;
    max-height: 30em;
    width: 60%;
    min-width: 18em;
    display:block;
    margin: 1.5em auto 2em auto;
}

/*
article > a > img{
    grid-area: articulos;
    height: auto;
    width: 40%;
    display:block;
    margin:auto;
}
*/